@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lora:ital,wght@1,500;1,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    z-index: -1;
}

.bg {
    background: url('https://i.ibb.co/Z1rCMZF/photo-1610987474273-1cfc722d6915.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: 0;
    filter: blur(0px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
    text-shadow: 3px 3px 20px #000000;
    z-index: 1;
}



